---
import "../styles/global.css";
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="logo.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Ángel | Diseñador Web & UI Freelancer</title>
	</head>
	<body class="bg-[#F5F1E6]">
		<slot />
	</body>
</html>

<style>

</style>
